<p style="color: green"><%= notice %></p>

<h1 class="text-center mb-3 mt-3">
  <%= title %>
</h1>

<div id="ai_models">
  <% @ai_models.each do |ai_model| %>
    <%= render ai_model %>
  <% end %>
</div>

<%= javascript_include_tag 'copybutton' %>