<section class='image-section overflow-hidden'>
    <h1 class="text-white slide-in-from-left" id='image-text'>
        <%= link_to 'Join', new_user_registration_path, class: 'no-underline' %> Troy's AI club.
    </h1>
    <h1 class="text-white slide-in-from-right" id='image-text-2'>
        We're the best.
    </h1>
</section>
<section id='about' class='p-4 pt-5 pb-5'>
    <p id='club-description' class='h1 m-4'></p>
</section>
<section id='links' class='bg-dark overflow-hidden'>
    <div class="container mt-4 mb-4">
        <div class="row">
            <div class="col-sm-4">
                <div class="card text-center p-5 link-card">
                    <div class='image-card-area d-flex align-items-center'>
                        <a href="https://discord.gg/gSDs5kYxeb" target='_blank'>
                            <img class="card-img-top max-w-100" src="assets/discordlogo.png" alt="Discord Logo">
                        </a>
                    </div>
                    <hr class='ms-0 me-0 mt-4 mb-4 bg-dark border-4 border-info'>
                    <div class="card-body">
                        <p class="card-text">
                            Click <a href="https://discord.gg/gSDs5kYxeb" target='_blank'>here</a> to join our Discord server, where we talk about all things AI Club and a significant amount of things not AI Club.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card text-center p-5 link-card">
                    <div class='image-card-area d-flex align-items-center'>
                        <img class="card-img-top max-w-100" src="assets/aiclublogo.webp" alt="Troy AI Club Logo">
                    </div>
                    <hr class='ms-0 me-0 mt-4 mb-4 bg-dark border-4 border-info'>
                    <div class="card-body">
                        <p class="card-text">Troy meetings are afterschool basically every day in the library - stop by at any time and you'll be able to hear Avni from across the room.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card text-center p-5 link-card">
                    <div class='image-card-area d-flex align-items-center'>
                        <a href="https://www.kaggle.com/rxshark" target='_blank'>
                            <img class="card-img-top max-w-100" src="assets/kagglelogo.png" alt="Kaggle.com Logo">
                        </a>
                    </div>
                    <hr class='ms-0 me-0 mt-4 mb-4 bg-dark border-4 border-info'>
                    <div class="card-body">
                        <p class="card-text">
                            We use Kaggle for coding because it's unblocked and free. 
                            There's <a href="https://www.kaggle.com/rxshark" target='_blank'>The club president</a>,
                            <a href="https://www.kaggle.com/siiverfish" target='_blank'>Me, the website dude</a>, 
                            and <a href="https://www.kaggle.com/Avssss" target='_blank'>Avni</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<%= javascript_include_tag 'typinganimation' %>