<section class='image-section overflow-hidden'>

    <h1 class="text-white slide-in-from-left" id='image-text'>
        <%= link_to 'Join', new_user_registration_path, class: 'no-underline' %> Troy's AI club.
    </h1>

    <h1 class="text-white slide-in-from-right" id='image-text-2'>We're the best.</h1>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="card text-center">
                    <img class="card-img-top rounded-circle" src="assets/defaultprofile.png" alt="Image 1">
                    <div class="card-body">
                        <p class="card-text">this is the description for the element thing of the number that is one.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card text-center">
                    <img class="card-img-top rounded-circle" src="assets/defaultprofile.png" alt="Image 2">
                    <div class="card-body">
                        <p class="card-text">this is the description for the element thing of the number that is two.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card text-center">
                    <img class="card-img-top rounded-circle" src="assets/defaultprofile.png" alt="Image 3">
                    <div class="card-body">
                        <p class="card-text"> this is the description for the element thing of the number that is three.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>