<section class='image-section overflow-hidden'>

    <h1 class="text-white slide-in-from-left" id='image-text'>
        <%= link_to 'Join', new_user_registration_path, class: 'no-underline' %> Troy's AI club.
    </h1>

    <h1 class="text-white slide-in-from-right" id='image-text-2'>We're the best.</h1>
</section>