/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.blue-gradient {
    /* Use a linear gradient background */
    background-image: linear-gradient(45deg, #0074D9, #7FDBFF);
}

#navbar-title {
    margin: 0;
    font-family: monospace, monospace;
    font-size: 2em;
}

.image-section {
    background: url('/assets/aiplaceboimage.jpg') no-repeat center center fixed;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    height: 34em;
    overflow: auto;
}


@font-face {
  font-family: UbuntuMonoBold;
  src: url(/assets/UbuntuMonoBold.ttf);
}

#image-text {
    font-family: UbuntuMonoBold;

    margin-top: 1em;
    margin-left: 1em;
    font-size: 5em;
}

#image-text-2 {
    font-family: UbuntuMonoBold;

    margin-top: 0.2em;
    margin-left: 2.6em;
    font-size: 3em;
}

a {
    text-decoration: none;
}

.z-front {
    z-index: 9;
}

.z-middle {
    z-index: 5;
}

.slide-in-from-left {
    animation: slide-in-left 1s forwards;
}

@keyframes slide-in-left {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}  

.slide-in-from-right {
    animation: slide-in-right 1s forwards;
}

@keyframes slide-in-right {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

body {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
body::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

#club-description {
    font-family: "Lucida Console", "Courier New", monospace;
}

#club-description::after {
    content: '|';
    animation: blink-caret 0.75s infinite;
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black }
}

.image-card-area {
    height: 15em;
}

.link-card {
    height: 95%;
}

.max-w-100 {
    max-width: 100%;
}

.z-10 {
    z-index: 10;
}
.profile-pics{
   height: 100%;
   width:100%;
   margin-bottom: 1em;
}

.contact{
    display: flex;
    justify-content: space-evenly;
}

#person-page{
    display: flex;
    justify-content: space-evenly;
}

#profile-cards{
    background-color: lightgray;
}

.navbar .dropdown-menu {
    position: absolute !important;
}
