<nav class="navbar navbar-expand-lg blue-gradient ps-2 p-0">
  <a class="navbar-brand" href="#" id='navbar-title'><b>Troy AI</b></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ms-auto">
      <li class="nav-item active">
        <%= link_to root_path, class: 'nav-link' do %>
          Home <span class="sr-only">(current)</span>
        <% end %>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item">
        <%= link_to new_user_registration_path, class: 'nav-link' do %>
          Join
        <% end %>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">People</a>
      </li>
    </ul>
  </div>
</nav>