<nav class="navbar position-fixed top-0 w-100 navbar-expand-lg blue-gradient ps-2 p-0 z-10 overflow-hidden">
  <a class="navbar-brand" href="#" id='navbar-title'><b>Troy AI</b></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ms-auto">
      <li class="nav-item active">
        <%= link_to root_path, class: 'nav-link' do %>
          Home
        <% end %>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/#about">About</a>
      </li>
      <li class="nav-item">
        <%= link_to new_user_registration_path, class: 'nav-link' do %>
          Join
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to 'People', people_path, class: 'nav-link' %>
      </li>
    </ul>
  </div>
</nav>
<div class='p-3'>.</div>